*{
  font-family: arial;
}

h1{
  text-align:center;
}

a{
  color:black;
  font-family:arial, helvetica, sans-serif;
  font-size:30px;
  text-decoration:none;
  text-align:right;
}

a:hover{
  color:red;
}

.header{
  color: blue;
  font-size:30px;
  text-align: center;
}

.games{
  text-align: center;
  border:10px #14c8e0 solid;
  padding:20px;
  padding-bottom: 340;
  margin:20px 0px;
}

.goback a{
  border:5px lime solid;
  padding:10px;
  border-radius:15px;
  background-color:lime;
  color:white;
  border-radius:15px;
  background-color:lime;
  border:5px lime solid;
}

.goback{
  padding:10px;
  color:white;
  margin-top:-175px;
  margin-bottom:175px;
  margin-left:-1111px;
}

.goback a:hover{
  background-color:blue;
  border:blue 5px solid;
  color:#eee;
}

#header{
    text-align:center;
}

#name{
  margin-bottom:10px;
}
