* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

ul{
  list-style: none;
}

ul{
  padding: 5px;
  background: #f4f4f4;
  display:block;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
  float:center;
}

.lnk{
  padding:2px;
  border-radius:5px;
  text-decoration:none;
}

.lunk{
  padding: 5px;
  background: #f4f4f4;
  display:block;
}

.ull{
  margin:5px 0;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='password'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#back{
  margin-left:10px;
}


.btn {
  display:block;
  width:100%;
  padding:10px 15px;
  border:0;
  background:#333;
  color:#fff;
  border-radius:5px;
  margin:5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.fix{
  padding-top:7px;
  padding-bottom:7px;
}

.error {
  background:orangered;
  color: #fff;
  padding:5px;
  margin:5px;
}

.go-back{
  /* margin-top:7px;
  width:100px;
  text-decoration:none;
  color:cyan;
  background-color:#aaa; */
}

.go-back:hover{
  background:#666;
}

/* .pass{ */
  /* font-size:20px; */
/* } */
